*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.text{
    background-color: #2B4865;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    position: absolute;
    top: 30%;
    opacity: 0.85;


}
.left{
    position: relative;
}
.plant{
    width: 40%;
    height: 100%;
}

.logo{
    width: 8%;
    height: 8%;
   
}
.heading{
    font-size: 64px;
    margin-left: 10px;
    text-transform: uppercase;
    
    
}
