*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.text{
    background-color: #3F4E4F;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.plant{
    width: 40%;
    height: 100%;
}

.logo{
    width: 10%;
    height: 10%;
}
.heading{
    font-size: 32px;
    
}