*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.whole{
    display: flex;
    
}
.left-side{
    
    background-image: url("./img.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 45vw;
    height: 100vh;
    
}
.credit{
    background-color: #100720;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    top: 30%;
    opacity: 0.75;
    
    


}
.img{
    width: 70px;
    height: 80px;
    margin-right: 20px;
}
.credit h1{
    font-size: 62px;
    font-family: 'Shadows Into Light', cursive;
    color: #FFF;
}

.paragraph{
   width: 55vw;
   height: 25vh;;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}
.para{
    font-size: 28px;
    line-height: 1.1;
    margin: 10px 20px;
}
span{
   
    font-style: italic;
}
.form-section{
    padding: 28px;
    background-color: #E9DAC1;
    box-shadow: 3px 3px 3px black;
    height: 40vh;
}
.form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    
}
.heading{
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
   
}

.part1{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.part2{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.part1 label{
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 1.3;
    font-weight: bold;
}
.part2 label{
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 1.3;
    font-weight: bold;
}
.part1 input{
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.part2 input{
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.button-section{
    height: 35%;
    background-color: #F7ECDE;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    font-family:'Yanone Kaffeesatz', sans-serif ;
    background-color: #FEC260;
    font-size: 32px;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    margin-bottom: 10px;
}
.btn:hover{
    background-color: #826F66;
    color: #E9DAC1;
}
.login{
    margin-top: 10px;
    font-size: 28px;
}
.link{
    text-decoration: none;
    color: #F77E21;
}